# Homework

## Q1.

Run this notebook for the February 2022 data.

What's the standard deviation of the predicted duration for this dataset?

    5.28
    10.28
    15.28
    20.28
    
## A1.
5.28

## Q2.

First, let's create an artificial ride_id column:

df['ride_id'] = f'{year:04d}/{month:02d}_' + df.index.astype('str')

Next, write the ride id and the predictions to a dataframe with results.

Save it as parquet:

df_result.to_parquet(
    output_file,
    engine='pyarrow',
    compression=None,
    index=False
)

What's the size of the output file?

    28M
    38M
    48M
    58M
    
## A2.
58M

## Q3.

Now let's turn the notebook into a script.

Which command you need to execute for that?
    
## A3.
jupyter nbconvert --to script starter.ipynb

## Q4.

Now let's put everything into a virtual environment. We'll use pipenv for that.

Install all the required libraries. Pay attention to the Scikit-Learn version: it should be scikit-learn==1.2.2.

After installing the libraries, pipenv creates two files: Pipfile and Pipfile.lock. The Pipfile.lock file keeps the hashes of the dependencies we use for the virtual env.

What's the first hash for the Scikit-Learn dependency?
    
## A4.
sha256:065e9673e24e0dc5113e2dd2b4ca30c9d8aa2fa90f4c0597241c93b63130d233

## Q5.

Let's now make the script configurable via CLI. We'll create two parameters: year and month.

Run the script for March 2022.

What's the mean predicted duration?

    7.76
    12.76
    17.76
    22.76

    
## A5.
12.76

## Q6.

This image already has a pickle file with a dictionary vectorizer and a model. You will need to use them.

Important: don't copy the model to the docker image. You will need to use the pickle file already in the image.

Now run the script with docker. What's the mean predicted duration for April 2022?

    7.92
    12.83
    17.92
    22.83
    
## A6.
12.83

In [1]:
!pip freeze | grep scikit-learn

scikit-learn @ file:///croot/scikit-learn_1684954695550/work

In [2]:
import pickle
import pandas as pd

In [3]:
with open('model.bin', 'rb') as f_in:
    dv, model = pickle.load(f_in)

In [4]:
categorical = ['PULocationID', 'DOLocationID']

def read_data(filename):
    df = pd.read_parquet(filename)
    
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')
    
    return df

In [5]:
df = read_data('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet')

In [6]:
dicts = df[categorical].to_dict(orient='records')
X_val = dv.transform(dicts)
y_pred = model.predict(X_val)

In [7]:
y_pred

array([18.52778307, 23.06578208, 33.68635854, ..., 11.89045938,
       15.10268128,  9.46059157])

In [9]:
import numpy

In [10]:
numpy.std(y_pred)

5.28140357655334

In [12]:
df_results = pd.DataFrame(y_pred, columns=["predictions"])
df_results

         predictions
0          18.527783
1          23.065782
2          33.686359
3          23.757436
4          21.492904
...              ...
2918182    12.038225
2918183    11.441569
2918184    11.890459
2918185    15.102681
2918186     9.460592

[2918187 rows x 1 columns]

In [13]:
year = 2022
month = 2

In [14]:
df_results['ride_id'] = f'{year:04d}/{month:02d}_' + df.index.astype('str')
df_results

         predictions          ride_id
0          18.527783        2022/02_0
1          23.065782        2022/02_1
2          33.686359        2022/02_2
3          23.757436        2022/02_3
4          21.492904        2022/02_4
...              ...              ...
2918182    12.038225  2022/02_2979426
2918183    11.441569  2022/02_2979427
2918184    11.890459  2022/02_2979428
2918185    15.102681  2022/02_2979429
2918186     9.460592  2022/02_2979430

[2918187 rows x 2 columns]

In [18]:
output_file = f'./output/{year:04d}_{month:02d}.parquet'

In [19]:
df_results.to_parquet(
    output_file,
    engine='pyarrow',
    compression=None,
    index=False
)